
<div class="content" role="main">

  <header>
    MetaMUD.dev
  </header>

  <main>
    <div class="terminal" #terminal (click)="focusTerminal()">
      <div *ngIf="output.type === 'text'">{{output.data}}</div>
      <div *ngIf="output.type === 'posts'">
        <div *ngFor="let post of output.data" class="posts">
          <div class="post">
            <div class="post-header">
              <div class="post-header-left">
                <div class="post-header-name">
                  @{{post.user.username}}
                </div>
              </div>
              <div class="post-header-right">
                #{{post.hashtag}}
              </div>
            </div>
            <div class="post-body">{{post.body}}</div>
            <div class="post-footer">
              <div>
                {{post.likes.length}} Likes - id: <span *ngIf="!latestPost">{{post._id}}</span><span *ngIf="latestPost">0</span> <span *ngIf="post.action"> - {{post.action}}</span>
              </div>
              <div>
                {{post._timedate}}
              </div>
            </div>
          </div>
          <div class="comments" *ngIf="latestPost">
            <div class="comments-header">Comments</div>
            <div class="comment" *ngFor="let comment of post.comments">
              <div class="comment-header">
                <div class="comment-header-left">
                  <div class="comment-header-name">
                    @{{comment.user.username}}
                  </div>
                </div>
                <div class="comment-header-right">
                </div>
              </div>
              <div class="comment-body">{{comment.comment}}</div>
              <div class="comment-footer">
                <div>
                  {{comment.likes.length}} Likes - id: {{comment._id}} <span *ngIf="comment.action"> - {{comment.action}}</span>
                </div>
                <div>
                  {{comment._timedate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="terminal-bottom">
      <div class="terminal-data">
        <div class="terminal-input">
          <div class="terminal-type">
            <span>$</span>
            <input autofocus #terminalInput type="text" id="cmd" [(ngModel)]="cmd" (keyup.enter)="submitData()">
          </div>
          <button type="button" (click)="submitData()">
            Submit
          </button>
        </div>
        <div class="terminal-cmds">
          <div *ngFor="let cmd of getCmdList()">
            <button type="button" (click)="selectCmd(cmd)">
              {{cmd}}
            </button>
          </div>
        </div>
      </div>
    
      <footer>
        &copy; 2022 MetaMUD
      </footer>
    </div>
</main>
